*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1{

    background-color: blue; /* muda cor de fundo*/
    color: brown;/*cor da letra*/
    border-radius: 20px;/* arredonda a borda*/
    text-align: center;/* centraliza texto*/
}
h2{
 box-shadow: 2px 2px 2px black;
}

#texto-verde {
  background-color: green;  
}
.rosa{
    color: rgb(179, 72, 134);
}

.texto-azul {
.texto-azul  
}