* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bg {
    height: 50vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-attachment: fixed;

}

.baner1 {
    background-image: url("../img/download.jpg")
}

.baner2 {
    background-image: url("../img/download.jpg")
}